﻿canvas{
    background-color:azure;
    border: 1px dotted gray;
}
/*divuri pe acelasi rand cu proprietatea float left, am facut pt fiecare pt ca ma gandeam ca poate mai adaug cate ceva la ele separat*/ 
.first {
    margin-top:5%;
    float: left; 
    padding-left:20px;
}

.second {
    float: left;
}

.third {
    float:left;
}

/*aria pentru upload*/
#uploader {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    background: transparent;
    border: 2px dashed #e8e8e8;
    cursor: pointer;
    padding: 5px;
    color: #555;
    font-family: Calibri;
}

/*se schimba culoare cand dai cu mouse-ul peste*/
#uploader:hover {
        color: #888;
    }

/*nu se afiseaza*/
#filePhoto {
    display: none;
}

#uploader img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -1px;
    left: -1px;
    z-index: -1;
    border: none;
    background-color: #eee;
}

#uploader2 {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    background: transparent;
    border: 2px dashed #e8e8e8;
    cursor: pointer;
    padding: 5px;
    color: #555;
   font-family:Calibri;
}

#uploader2:hover {
        color: #888;
    }

#filePhoto2 {
    display: none;
}

#uploader2 img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -1px;
    left: -1px;
    z-index: -1;
    border: none;
    background-color: #eee;
}

#uploader3 {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px;
    background: transparent;
    border: 2px dashed #e8e8e8;
    cursor: pointer;
    padding: 5px;
    color: #555;
    font-family: Calibri;
}
#uploader3:hover {
        color: #888;
}

#filePhoto3 {
    display: none;
}

#uploader3 img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -1px;
    left: -1px;
    z-index: -1;
    border: none;
    background-color: #eee;
}

.button {
    color: white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    margin: 20px 2px;
    cursor: pointer;
    font-family: Calibri;
    font-weight: bold;
    border: 2px solid darkred;
}

.templateCollage{
    width:50px;
    height:50px;
}
.effects {
    font-size: 15px;
    font-style: bold;
    font-family: impact;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    color: azure;
    -webkit-text-stroke: 1px black;
}
