﻿body {
    background: url("../media/backgroundimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-center {
    font-size: 30px;
    font-style: bold;
    font-family: impact;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(https://data.whicdn.com/images/270202210/original.gif) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
